#container{
  display: grid;
  grid-template: "titre titre titre titre"
                "perso msg msg  msg"
                "perso nouMsg nouMsg nouMsg";
}
* {
  border: 1px solid black;
  text-align: center;
}
app-en-tete{
  grid-area: titre;
}
app-personne-active{
  grid-area: perso;
}
app-affichage{
  grid-area: msg;
}
app-saisie{
  grid-area: nouMsg;
}


