<div>
  <h2>Nouveau message : </h2>
  <form #monFormulaire="ngForm">
    <label for="nom">Nom : </label>
    <input type="text" id="nom" name="nom" ngModel [value]="monFormulaire.value.auteur">
    <br>
    <label for="prenom">Prenom : </label>
    <input type="text" id="prenom" name="prenom" ngModel>
    <br>
    <label for="msg">Message : </label>
    <textarea id="msg" name="msg" rows="5" cols="50" ngModel></textarea>
    <br>
    <button (click)="clicSurForm(monFormulaire.value); monFormulaire.reset();">Envoyer</button>
    |
    <button (click)="monFormulaire.reset();">Annuler</button>
  </form>

</div>
